.wrapper {
    display: inline-block; 
    margin-right: 0.5rem;

    .checkbox_input {
        margin-right: 0.5rem;
    }
    .checkbox_label {
        width: 3rem;
    }
}

.slider_container {
    display: inline-block;
    
    .slider {
        margin-right: 0.5rem;
    }
}