<nav class="navbar navbar-expand-lg navbar-light">  
    <div 
      class="navbar_main collapse navbar-collapse d-flex align-items-center justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a 
            class="nav-link" 
            href="/home" 
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link" 
            href="/units" 
          >
            Units
          </a>
        </li>
      </ul>
    </div>
  </nav>